* {
    margin: 0;
    padding: 0;
}
/* defaulthome css */

.upperContainer{
    padding-left: 50px;
    height: 92vh;
}

.stepContainer{
    padding: 45px;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    height: 60vh;
    width: 90vw;
    border-radius: 10px;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    margin-bottom: 15px;
    
}

.stepContainer p{
    font-size: 20px;
}

.container .ant-btn{
    padding-top: 10px;
    text-align: center;
    padding-bottom: 45px;
    margin-top: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    font-size: 20px;
}

.container h1{
    font-size: 44px;
}

.container p{
    font-size: 25px;
}

.footer{
    height: 20vh;
    font-size: 20px;
}



/* defaultlayout */

.layout {
    height: 100%;
}

.header {
    height: 9vh;
    background-color: rgba(249, 248, 248, 0.984);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    position: sticky !important;
    top: 0 !important;
    position: -webkit-sticky;
    width: 100%;
    z-index: 10;
    
}

.header button {
    border: 1px solid white !important;
    background-color: white !important;
    margin: 5px;
}

.header .ant-btn span {
    color:white !important;

}

.header h1 {
    font-size: 20px;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header h3{
    
    font-size: 25px;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content {
    height: 100%;
    
    border-radius: 5px;
    margin-top: 15px;
    /* padding: 10px; */
    margin-left: 15px;
    margin-right: 15px;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    opacity: 0.8;
}